# 後端 Kong API Gateway 位址
IAM_URL=http://your-kong-host:8000/iam
NOTIFICATION_URL=http://your-kong-host:8000/notification
RECOMMENDATION_URL=http://your-kong-host:8000/recommendation
BILLING_URL=http://your-kong-host:8000/billing
APPEAL_URL=http://your-kong-host:8000/appeal-admin
VENDOR_URL=http://your-kong-host:8000
ORDER_URL=http://your-kong-host:8000

USE_LOCAL_MOCKS=false

AUTH_COOKIE_NAME=token
AUTH_ROLE_COOKIE_NAME=role